.slider {
  width: 100%;
  gap: 20px;
  overflow: hidden;
  position: relative;
}

.slider button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.25s;
}
.slider button:hover {
  background: rgb(255, 255, 255);
}
.slider button[direction="left"] {
  left: 2px;
  z-index: 100;
}
.slider button[direction="right"] {
  right: 2px;
}

.slider > div {
  display: flex;
  gap: 20px;
  transition: all 0.5s ease;
}
.slider > div > div {
  flex: none;
}
.recom {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.recomtitle {
  border: 2px solid grey;
  border-bottom: none;
  padding: 20px;
  min-width: 230px;
}
.recomline {
  border-bottom: 2px solid grey;
  width: 100%;
}
