.div {
  width: 100%;
  gap: 20px;
  overflow: hidden;
  position: relative;
}

.div button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 50px;
  cursor: pointer;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.25s;
  height: 91%;
}
.div button:hover {
  background: rgba(0, 0, 0, 0.7);
}
.div button[direction="left"] {
  left: 0;
  z-index: 100;
}
.div button[direction="right"] {
  right: 0;
}

.div > div {
  display: flex;
  transition: all 1s;
}
.div > div > div {
  flex: none;
}
