.checkout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  z-index: 2;
  background: white;
  padding-top: 100px;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.cartitem {
  overflow: scroll;
  scrollbar-width: 0;
}
.cartitem::-webkit-scrollbar {
  display: none;
}

.botcheckout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  margin-top: 50px;
}
.botcheckout button {
  border: none;
  background: black;
  padding: 20px;
  color: white;
  cursor: pointer;
  max-width: 500px;
  width: 100%;
  align-self: center;
}
.botcheckout > div {
  display: flex;
  justify-content: space-between;
}

.botcheckout h1 {
  font-size: 16px;
}
.cartitems {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cartlisting {
  display: grid;
  grid-template-columns: 1fr repeat(3, 120px);
  text-align: start;
}

.cartlisting .item {
  display: flex;
  gap: 15px;
}

.cartlisting img {
  width: 100px;
}

.cartlisting .listinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.edit,
.delete {
  display: flex;
  gap: 5px;
  font-size: 12px;
  cursor: pointer;
  color: rgb(80, 80, 80);
}

.edit:hover > span,
.delete:hover > span {
  text-decoration: underline;
}
.totalprice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.banner {
  display: grid;
  grid-template-columns: 1fr repeat(3, 120px);
  text-align: start;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
}
.totaltag {
  text-align: end;
}
.title {
  font-size: 14px;
}
.color,
.size {
  font-size: 14px;
}

.color span,
.size span,
.subtotal {
  font-weight: bold;
}
.qty,
.price {
  font-size: 13px;
}
@media (max-width: 768px) {
  .banner {
    display: none;
  }
}
