.listing {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  margin: 10px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.listing img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Cover the entire container with the image */
}

.listing .title {
  margin-top: 10px;
  font-size: 14px;
  text-align: start;
  height: 40px;
  color: #333; /* Dark gray text color */
}

.listing .price {
  margin: 5px 0;
  font-size: 14px;
  text-align: start;
  font-weight: bold;
}
.quickbuy {
  display: none;
  position: absolute;
  bottom: 90px;
  left: 55%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 10px 20px;
  width: 80%;
  font-size: 12px;
}
.quickbuy:hover {
  display: block;
  background: rgb(46, 46, 46);
}
.link {
  width: 100%;
  color: inherit;
  text-decoration: none;
}
.link:hover ~ .quickbuy {
  display: block;
}
